@font-face {
	font-family: 'Montserrat';
	src: local('MontserratRegular'),
		url('../fonts/MontserratRegular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-SemiBold'),
		url('../fonts/MontserratSemiBold.woff2') format('woff2'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('MontserratBold'),
		url('../fonts/MontserratBold.woff2') format('woff2'),
		url('../fonts/MontserratBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('MontserratExtraBold'),
		url('../fonts/MontserratExtraBold.woff2') format('woff2'),
		url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}


html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}


body {
  min-width: 320px;
	font-family: Montserrat, sans-serif;
}

.img {
  max-width: 100%;
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.flex {
  display: flex;
}

.container {
  max-width: 1810px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.h1, h2, h3, p {
  margin: 0;
}

:root {
  --color-wight: #FFFFFF;
  --color-orange: #FF9900;
  --color-orange-atv: #E1670E;
  --color-black: #333333;
  --gap: 32px;
  --m-bottom: 100px
}

/*header*/

.header {
  position: relative;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  background: var(--color-wight);
}

.container-header {
  position: relative;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.header__right {
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  margin-right: 85px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-black);
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: var(--color-orange) solid 2px;
  outline-offset: 2px;
}

.nav__link:focus::after {
  opacity: 0;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  transition: 0.3s;
  opacity: 0;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:active {
  color: var(--color-orange-atv);
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

.header-form {
  display: none;
  position: absolute;
  right: 15px;
  align-items: center;
  width: 535px;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.header-form__btn-search {
  margin-right: 22px;
}

.header-form--active {
  display: block;
  transform: none;
}

.header-form__input {
  width: 410px;
  border: none;
  border-bottom: 1px solid #CACACA;
}

.header__btn-svg-close:hover {
  stroke: #FF9900;
}

.header-form__input:focus {
  outline: none;
}

.header__logo {
  margin-right: auto;
}

.header__btn-svg path {
  stroke: var(--color-black);
  transition: stroke 0.3s ease-in-out;
}

.header__btn-svg rect {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

.header__btn:focus .header__btn-svg {
  outline: 1px var(--color-orange) solid;
  outline-offset: 2px;
}

.header__btn:hover .header__btn-svg path {
  stroke: var(--color-orange);
}

.header__btn:hover .header__btn-svg rect {
  fill: var(--color-orange);
}

.stop-scrol {
  overflow: hidden;
}
/*header*/

/*slider*/


.slider {
  margin-bottom: var(--m-bottom);
  padding: 0;
}

.slider__content {
  position: absolute;
  padding-top: 100px;
  padding-left: 80px;
  z-index: 3;
}


.back-slider-1 {
  background-image: url(../img/slider-img1.jpg);
  height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back-slider-2 {
  background-image: url(../img/slider-img2.jpg);
  height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back-slider-3 {
  background-image: url(../img/slider-img3.jpg);
  height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__title {
  margin-bottom: 24px;
  font-weight: 800;
  line-height: 85px;
  font-size: 70px;
  color: var(--color-wight);

}

.slider__descr {
  margin-bottom: 90px;
  max-width: 790px;
  font-weight: 700;
  line-height: 29px;
  font-size: 24px;
  color: var(--color-wight);

}

.slider__btn {
  padding: 25px 39px;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: var(--color-wight);
  background-color: var(--color-orange);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

}

.slider__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.slider__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.slider__btn:active {
  background-color: var(--color-orange-atv);
}


.swiper {
  position: initial;
  left: 0;
  top: 0;
}

.swiper-pagination {
  position: relative;
  top: -30px;
  z-index: 5;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background: #FFFFFF;
}

.slider-img {
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
}


/*slider*/

/*about*/

.about {
  margin-bottom: 105px;
}

.about__blocks {
  justify-content: space-between;
}

.about__title {
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 48px;
  color: var(--color-black);
}

.about__descr {
  margin-bottom: 50px;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

.about__blk-left {
  width: calc((100% - (var(--gap) * 1)) / 2);
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
}

.blk-bottom {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.blk-bottom__descr {
  max-width: 454px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-wight);
}

.blk-bottom__btn {
  background: none;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  border: 3px solid var(--color-orange);
  color: var(--color-wight);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.blk-bottom__btn:focus {
  background: var(--color-orange);
}

.blk-bottom__btn:hover {
  background: var(--color-orange);
}

.blk-bottom__btn:active {
  border: 3px solid var(--color-orange-atv);
  background: var(--color-orange-atv);
}

.about__blk-right {
  width: calc((100% - (var(--gap) * 1)) / 2);
  flex-direction: column;
}

.card-top {
  margin-bottom: var(--gap);
  border: 1px solid #CACACA;
  background-image: url(../img/about1.svg);
  background-repeat: no-repeat;
  background-position: 8.3% 48%;
  padding: 64px 20px 64px 299px;
}

.card__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-black);
}

.card__descr {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

.card-bottom {
  border: 1px solid #CACACA;
  background-image: url(../img/about2.svg);
  background-repeat: no-repeat;
  background-position: 8.3% 48%;
  padding: 64px 20px 64px 299px;
}


/*about*/

/*working*/


.working {
  margin-bottom: var(--m-bottom);
}

.working__title {
  margin-bottom: 55px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-black);
}

.working__list {
  margin-bottom: 45px;
}

.working__item:not(:last-child) {
  margin-right: 85px;
}

.working__step-btn {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-black);
  transition: color 0.3s ease-in-out;
}

.working__step-btn:focus {
  outline: 2px var(--color-orange) solid;
  outline-offset: 2px;
}

.working__step-btn:hover {
  color: var(--color-orange);
}

.working__step-btn:active {
  color: var(--color-orange-atv);
  outline: none;
}

.working__blocks {
  justify-content: space-between;
}

.blk-left {
  margin-right: 20px;
}

.blk-left__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-black);
}

.blk-left__content {
  max-width: 758px;
  margin-bottom: 50px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

.blk-left__btn-left {
  padding: 20px 38px;
  margin-right: var(--gap);
  font-weight: 700;
  font-size: 16px;
  color: var(--color-wight);
  background: var(--color-orange);
  border: none;
  transition: background 0.3s ease-in-out;
}

.blk-left__btn-left:focus {
  background:#F7B045;
}

.blk-left__btn-left:hover {
  background:#F7B045;
}

.blk-left__btn-left:active {
  background: var(--color-orange-atv);
}

.blk-left__btn-right {
  padding: 20px 38px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  background: none;
  border: 1px solid var(--color-black);
  transition: background 0.3s ease-in-out;;
}

.blk-left__btn-right:focus {
  color: var(--color-wight);
  background: #666666;;
}

.blk-left__btn-right:hover {
  color: var(--color-wight);
  background: #666666;;
}

.blk-left__btn-right:active{
  color: var(--color-wight);
  background: #000000;
}

.working__blk {
  max-width: 870px;
}

.blk-right__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.working-img1024 {
  display: none;
}

.working-img768 {
  display: none;
}

.working-img320 {
  display: none;
}

.blk-right {
  max-width: 860px;
}

.working__step-btn--active {
  color: #E1670E;
}

.working__blocks {
  display: none;
}

.working__blocks--active {
  display: flex;
}


/*working*/


/*questions*/


.questions {
  margin-bottom: var(--m-bottom);
}

.questions__title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}

.questions__list {
  flex-direction: column;
}

.questions__item {
  margin-top: -1px;
  border-top: solid 1px #CACACA;
  border-bottom: solid 1px #CACACA;
  transition: border 0.3 ease-in-out;
}

.questions__item:first-child {
  margin-top: 0;
  border-top: solid 1px #CACACA;
}

.questions__item:focus {
  border-top: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
  z-index: 2;
}

.questions__item:hover {
  border-top: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
  z-index: 2;
}

.questions__item:active {
  border-color: #CACACA;
}

.questions__link {
  padding: 30px 0;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-black);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.questions__link:focus {
  color: var(--color-orange);
}

.questions__link:hover {
  color: var(--color-orange);
}

.questions__link:active {
  color: var(--color-black);
}

.questions__svg ellipse {
  fill: #ECECEC;
}

.questions__svg {
  transition: transform 0.3s ;
}

.questions__link:hover .questions__svg ellipse {
  fill: var(--color-orange);
}

.questions__link:active .questions__svg ellipse {
  fill: #ECECEC;
}

.questions__svg--active {
  transform: rotate(45deg);
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.accordion--active .accordion__content {
  visibility: visible;
}

.accordion__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

/*questions*/


/*footer*/


.footer {
  background: #222222;
}

.footer__blocks {
  justify-content: space-between;
  padding: 50px 0;
}



.footer__blk-left {
  margin-right: 125px;
  flex-direction: column;
}

.footer__logo {
  margin-bottom: 10px;
}

.footer__list {
  flex-direction: column;
  margin-bottom: 90px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  transition: color 0.3s ease-in-out;
  color: #CACACA;
}

.footer__social {
  max-width: 230px;
}

.footer__link:focus {
  outline: 2px var(--color-orange) solid;
  outline-offset: 2px;
}

.footer__link:hover {
  color: var(--color-orange);
}

.footer__link:active {
  color: var(--color-orange-atv);
  outline: none;
}

.footer__social {
  justify-content: space-between;
}

.icon path {
  fill: #7C7C7C;
  transition: fill 0.3s ease-in-out;
}

.footer__icon-link:focus {
  outline: 2px var(--color-orange) solid;
  outline-offset: 2px;
}

.footer__icon-link:active {
  outline: none;

}

.footer__icon-link:hover .icon path {
  fill: var(--color-orange);
}

.footer__icon-link:active .icon path {
  fill: var(--color-orange-atv);
  outline: none;
}

.footer__blk-midle {
  margin-right: 30px;
}

.footer__title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  color: #CACACA;
}

.form {
  margin-bottom: var(--gap);
  flex-direction: column;
}

.form__input {
  margin-bottom: 25px;
  padding: 14px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background: #414141;
  border: none;
}

.form__textarea {
  padding: 14px 24px;
  height: 150px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background: #414141;
  border: none;
  resize: none;
}

.footer__checkbox-btn {
  justify-content: space-between;
  align-items: center;
}

.footer__btn {
  margin-right: 22px;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-wight);
  padding: 19px 52px;
  background: var(--color-orange);
  transition: background-color 0.3s ease-in-out;
}

.footer__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.footer__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.footer__btn:active {
  background-color: var(--color-orange-atv);
}

.checkbox__descr {
  font-weight: 400;
  font-size: 16px;
  color: #CACACA;
}

.footer__blk-right {
  margin-top: 83px;
  max-width: 363px;
}

.form__input {
  color: var(--color-wight);
  transition: background-color 0.3s ease-in-out;
}

.form__input:focus {
  background-color:#666666;
  outline: none;
}

.form__input:hover {
  background-color:#666666;
}

.form__input:active {
  background-color:#666666;
}

.form__textarea {
  color: var(--color-wight);
  transition: background-color 0.3s ease-in-out;
}

.form__textarea:focus {
  background-color:#666666;
  outline: none;
}

.form__textarea:hover {
  background-color:#666666;
}

.form__textarea:active {
  background-color:#666666;
}

.footer-label {
  align-items: center;
  cursor: pointer;
}

.footer-label__checkbox {
 display: none;
}

.footer-label__descr {
  padding-left: 18px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #CACACA;
}

.footer-label__descr::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 1px;
  left: -4px;
  width: 14px;
  height: 14px;
  background-color: #222222;
  border: 1px solid #CACACA;
  vertical-align: middle;
}

.footer-label__checkbox:checked+.footer-label__descr::before {
  background-image: url(../img/green\ v.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}


/*footer*/
